.card-login {
    margin-top: 30%;
}

room-item .title {
    font-size: 20px;
}

room-item .room-item-link:hover {
    transition: background ease-in 0.5s;
    -webkit-transition: background 0.5s;
    background: rgba(0,0,0,0.02);
    cursor: pointer;
}

room-item {
    max-width: 200px;
}

.remove-room:hover {
    color: #d32f2f !important;
}