.card-login {
    margin-top: 30%;
}

room-item .title {
    font-size: 20px;
}

room-item .title:hover {
    color: rgba(255, 87, 34, 0.7) !important;
    cursor: pointer;
}

room-item {
    max-width: 200px;
}

.remove-room {
    margin-right: 5%;
}

.remove-room:hover {
    color: #d32f2f !important;
}

.create-room-form {
    position: fixed;
    bottom: 15px;
    right: 13%;
    width: 25%;
    z-index: 5;
}

.messageList {
    list-style-type: none;
    height:100%;
    overflow-y: scroll;
}

.message-row {
    height: calc(100% - 150px);
}
.message-col {
    height: 100%;
}

.msg-content {
    padding: 10px 0px;
}

.time-stamp {
    font-size: 11px;
}
.msg {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    display: inline-block;
    border-radius: 25px;
    padding: 10px 15px;
    min-width: 150px;
}

.username{
    padding: 10px 0px;
}

.message-container {
    top: 73px; bottom: 70px;
    left: 30%; right: 30%;
    min-height: 400px;
    background: #FAFAFA;
    position: absolute;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.type-box {
    display: block;
    border-top: 1px solid rgba(0,0,0,0.12);
    padding: 5px 10px;
    position: absolute;
    height: 40px;
    bottom: 0;
    width: 100%;
}

.type-box input {
    border: none;
    font-size: 14px;
    height: 100%;
    width: calc(100% - 50px);
    padding-left: 10px;
    border-bottom: 1px solid rgba(0,0,0,0.12);
    background: rgba(255,255,255,0);
}

.type-box input:focus, .chatbox input:hover {
    outline: none;
    border-bottom: 1px solid #FF5722;
    transition: border-bottom 0.2s;
    -webkit-transition: border-bottom 0.7s;
}

.sendBtn {
    height: 20px;
    width: 20px;
    border: none;
    background: none;
    font-size: 15px;
    color: #FF5722;
    margin-left: 10px;
}

.user {
    padding: 5px 15px;
    background: rgba(0,0,0,0.05);
    margin-left: 5px;
    border-radius: 25px;
}


@media (max-width: 600px) {
    .create-room-form {
        width: 70%;
        right: 15%;
    }

    .message-container {
        left: 20px; right: 20px;
        /*position: relative;*/
    }
}

@media (min-width: 601px) and (max-width: 992px)  {
    .create-room-form {
        width: 40%;
        right: 15%;
    }

    .message-container {
        left: 15%;
        right: 15%;
    }
}

.say-something {
    margin-top: calc(25% - 10px);
    margin-bottom: calc(25% - 10px);
}