<ul id="dropdown1" class="dropdown-content">
    <li><a href="#">My Account</a></li>
    <li class="divider"></li>
    <li><a href="#" ng-click="signOut()">Sign Out</a></li>
</ul>
<nav>
    <div class="nav-wrapper blue darken-2">
        <a href="#" class="brand-logo center">AppLa</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="#">My Dictionary</a></li>
            <li><a href="#" ui-sref="home">All Rooms</a></li>
            <li><a class="dropdown-button" href="#" data-activates="dropdown1">
                <i class="material-icons right">account_circle</i>Hello {{user.first_name}}!</a>
            </li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
            <li><a href="#">My Dictionary</a></li>
            <li><a ui-sref="home">Rooms</a></li>
            <li><a href="#" ng-click="signOut()">Sign Out</a></li>
        </ul>
    </div>
</nav>

<div class="message-container">
    <div class="row">
        <div class="col s12">
            <h4 class="room-title center-align red-text text-darken-4">{{room.room_name}}</h4>
            <user-list></user-list>
        </div>
    </div>
    <li class="divider"></li>
    <div class="row message-row">
        <div class="col s12 message-col">
            <chatbox></chatbox>
        </div>
    </div>
</div>

